// Color palettes: https://colorhunt.co/palette/efbc9bfbf3d5d6dac89cafaa

// SCREEN SIZES
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// COLORS

// Text
$textColor: #424f4c;
$textLight1Color: #677b76;
$textLight2Color: #d6dac8;

// Background
$bgColor: #fbf7ed;

// Other
$primaryColor: #9cafaa;
$primary1Color: #6c7e79;

$secondaryColor: #fbf3d5;

$warningColor: #efbc9b;
