@import '../styles/mixins';
@import '../styles/variables';

body {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 100%;
  width: $screen-xl;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;

  @include smMinBreakPoint {
    // background: red;
  }

  @include mdMinBreakPoint {
    // background: green;
  }
}
