@import '@/styles/variables';

.article {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    padding: 1rem;
    margin: -1rem;
    border-radius: 5px;
    cursor: pointer;

    display: block;
    text-decoration: none;

    &:hover {
      box-shadow: 0px 0px 0px 1px $primaryColor;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    margin-top: 3rem;
  }

  &__title {
    margin-bottom: 1rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
